page-print-receipt {
    table, th, td {
        // border: 1px solid gray;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    table{
        width: 100%;
    }
}
