page-print-receipt {
    .signtaure{
        margin-top: 60px;
        // display: flex;
        // justify-content: space-between;
    }
  th{
      padding: 10px!important;
  }
  .sign{
      line-height: 4;
  }
}

