<!-- Generated template for the AddViolationComponent component -->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Add Violation
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="gray-back">
    <div class="total-charge">
      <div class="inner-box">
          <small>Rupees</small>
          {{ totalCharge }}
      </div>
    </div>

    <ion-card>
        <ion-item>
            <ion-label>Select Violation</ion-label>
            <ion-select [(ngModel)]="currentViolents" multiple="true" cancelText="Cancel" okText="Ok" (ionChange)="subTotal()">
              <ion-option *ngFor="let violent of violentsList" [value]="violent">{{ violent.name }}</ion-option>
            </ion-select> 
          </ion-item>
    </ion-card>

    <ion-list class="violation_details">

      <ion-item *ngFor="let violentCharge of currentViolents">
        <ion-row>
          <ion-col col-8 class="title" no-padding>
            {{ violentCharge.name }} <ion-badge>{{ violentCharge.code }}</ion-badge>
          </ion-col>
          <ion-col col-4 class="charge" no-padding>
              ₹ {{ violentCharge.charge }}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <button ion-button icon-only class="center" margin-bottom><ion-icon name="camera"></ion-icon></button>
    <button ion-button full>Continue to Pay</button>
    <button ion-button full clear>Unable to pay</button>
  </ion-content>
  