vehicle-detail {
  .item-inner {
    border-bottom: 0 !important;
    -webkit-box-shadow: none !important;
  }
  .error {
    border-bottom: 1px solid red !important;
  }
  .collapse_main{
    .collapse{
      border: 1px solid #00786b;
      ion-item{
        ion-label{
          display: inline-block;
          font-weight: 400;
          code{
            color: red; 
          }
        }
        ion-icon{
          float: right;
          color: #00786b;
        }
      }
    }
    .collapse_in_out{
      &.collapse_in_out2{
        height: 620px;
      }
      border: 1px solid #00786b;
      padding-bottom: 10px;
      transition:  height 0.5s;
      height: 300px;
    }

    .collapse_in_out{
      &.collapse_hide{
        height: 0px;
        overflow: hidden;
        transition: height 0.5s;
        padding-bottom: 0;
      }
    }
  }
}
