<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'Vehicle Detail' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="gray-back background">
  <form [formGroup]="violationForm">
    <ion-card>
      <ion-item>
        <ion-label stacked>{{'Body Type'| translate}}</ion-label>
        <ion-input type="text" formControlName="BodyType"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.ChassisNo.invalid ? 'error' : ''">
        <ion-label stacked>{{'Chassis Number'| translate}}</ion-label>
        <ion-input type="text" formControlName="ChassisNo"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.Colour.invalid ? 'error' : ''">
        <ion-label stacked>{{'Color' | translate}}</ion-label>
        <ion-input type="text" formControlName="Colour"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.EngNo.invalid ? 'error' : ''">
        <ion-label stacked>{{'Engine Number' | translate}}</ion-label>
        <ion-input type="text" formControlName="EngNo"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.FatherName.invalid ? 'error' : ''">
        <ion-label stacked>{{'Father Name' | translate}}</ion-label>
        <ion-input type="text" formControlName="FatherName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'Maker Model'|translate}}</ion-label>
        <ion-input type="text" formControlName="MakerModel"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.EmailId.invalid ? 'error' : ''">
        <ion-label stacked>{{'Email' | translate}}</ion-label>
        <ion-input type="email" formControlName="EmailId"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.MobileNumber.invalid ? 'error' : ''">
        <ion-label stacked>{{'Mobile Number' | translate}}</ion-label>
        <ion-input type="number" maxlength="10" formControlName="MobileNumber" name="MobileNumber">
        </ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.OwnerName.invalid ? 'error' : ''">
        <ion-label stacked>{{'Owner Name' | translate}}</ion-label>
        <ion-input type="text" formControlName="OwnerName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'Owner Address' | translate}}</ion-label>
        <ion-input type="text" formControlName="OwnerAddress"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'Registration Date' | translate}}</ion-label>
        <ion-input type="text" formControlName="RegnDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'Vehicle Class' | translate}}</ion-label>
        <ion-input type="text" formControlName="VehicleClass"></ion-input>
      </ion-item>
      <ion-item [ngClass]="violationForm.controls.VehicleNo.invalid ? 'error' : ''">
        <ion-label stacked>{{'Vehicle No' | translate}}</ion-label>
        <ion-input type="text" formControlName="VehicleNo"></ion-input>
      </ion-item>
    </ion-card>
    <div padding text-center>
      <button ion-button center round class="center" [disabled]="violationForm.invalid" (click)="addViolation()">
        {{'Add Violation' | translate}}
      </button>
    </div>
  </form>
</ion-content>