vehicle-detail {
  .item-inner {
    border-bottom: 0 !important;
    -webkit-box-shadow: none !important;
  }
  .error {
    border-bottom: 1px solid red !important;
  }
  ion-label{
    display: inline-block !important;
  
    code {
      color: red;
  }
}
ion-card{
  padding-bottom: 5px;
}
}
