vehicle-detail {
  .item-inner {
    border-bottom: 0 !important;
    -webkit-box-shadow: none !important;
  }
  .error {
    border-bottom: 1px solid red !important;
  }
}
ion-label{
  font-size: 18px !important;
  font-weight: 500 !important;
  display: inline-block !important;

  code {
    color: red;
}
}
ion-card{
  padding-bottom: 10px;
}
.collapse_main{
  display: inline-block;
    width: 100%;
}
