<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Vehicle Detail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="gray-back background">
  <ion-card>
    <form [formGroup]="violationForm">
      <ion-item>
        <ion-label class="primaryColor" floating>BodyType</ion-label>
        <ion-input type="text" formControlName="BodyType" item-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>ChassisNo</ion-label>
        <ion-input type="text" formControlName="ChassisNo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>Colour</ion-label>
        <ion-input type="text" formControlName="Colour"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>EngNo</ion-label>
        <ion-input type="text" formControlName="EngNo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>FatherName</ion-label>
        <ion-input type="text" formControlName="FatherName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>MakerModel</ion-label>
        <ion-input type="text" formControlName="MakerModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>MobileNumber</ion-label>
        <ion-input type="text" formControlName="MobileNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>OwnerName</ion-label>
        <ion-input type="text" formControlName="OwnerName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>OwnerAddress</ion-label>
        <ion-input type="text" formControlName="OwnerAddress"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label class="primaryColor" floating>RegistrationNo</ion-label>
        <ion-input type="text" formControlName="RegistrationNo"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label class="primaryColor" floating>RegnDate</ion-label>
        <ion-input type="text" formControlName="RegnDate"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label class="primaryColor" floating>RegnDate</ion-label>
        <ion-datetime formControlName="RegnDate"></ion-datetime>
      </ion-item> -->
      <ion-item>
        <ion-label class="primaryColor" floating>VehicleClass</ion-label>
        <ion-input type="text" formControlName="VehicleClass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="primaryColor" floating>VehicleNo</ion-label>
        <ion-input type="text" formControlName="VehicleNo"></ion-input>
      </ion-item>
      
    </form>
  </ion-card>
  <div padding text-center>
    <button ion-button center round class="center" [disabled]="violationForm.invalid" (click)="addViolation()">Add
      Violation</button>
  </div>
</ion-content>