
<ion-content>

    <img class="login-logo" src="https://img.clipartxtras.com/197beaa39099b386dd67f0320c4ec25c_traffic-light-clip-art-hostted-clipartbarn-traffic-light-clipart-free_1500-1500.png" />
    <ion-list class="login-form">
  
        <h1 text-center>Login</h1>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" value="" placeholder="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
  
      <button ion-button full>Login</button>
    
    </ion-list>
  </ion-content>
  