login{

  overflow: scroll !important;
  opacity: 1 !important;
  position: static !important;

  .mobile-login{
    width: 100%;
    min-height: 100%;
    background: #75a29d;
    
    .header{
      
    }
    .content{
      text-align: center;
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 15px;
    
      .logo{
         position:relative;
         width:120px;
         height:120px;
         box-shadow:0 0 10px rgba(0,0,0,0.1);
         border-radius:50%;
         margin: auto;
         background: white;
         
        img{
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          height:100px; 
          margin:auto;
          display:block;
          }
      }
  
      .loginForm{
          display: inline-block;
          width: 100%;
          padding-top: 20px;
          h3{
            color: white;
            -webkit-text-stroke: 1px sloid #000;
            text-shadow: -3px -2px 2px #000;
            font-size: 22px;
          }
        .login{
          width:100%;
          border-radius:0;
          box-shadow:0 0 10px rgba(0,0,0,0.1);
          transform-origin:center;
          color:#8fa1b7;
          position: relative;
          margin: auto;

          .inputs{
            input:placeholder{
              color:#8fa1b7;
            }
            input{
              border:0px;
              border-bottom:1px solid #8fa1b7;
              font-size:1.1em;
              background:#ffffff;
              color:#8fa1b7;
              padding: 0px 10px;
              
            }
            .password input{
              border-bottom:0px;
            }
            .input{
              display:flex;
              margin: 6px 0px;
             label{
               padding:10px;
               font-size:2rem;
               background: #257566;
              color: white;
             } 
             input{
               width: 100%;
             }
            }
          }
         
          button[disabled]{
            display:none;
          }
         
        }
      }
      .login-btn {
        width: 100%;
        display: inline-block;
        padding: 13px;
        margin: 10px 0px;
        background: #00796b;
        font-size: 16px;
        letter-spacing: 2px;
        color: white;
        box-shadow: 0 1px 2px #b7b8d9;
        -webkit-box-shadow:0 1px 2px #b7b8d9;
      
      }

    }
    }


ion-footer{
  &.footer{
    height: 40px;
    margin-top: -50px;
    position: static;
    .login_footer{
      font-size: 15px;
      font-weight: 500;
      color: white;
      line-height: 18px;
    img{
      width: 22px;
      padding: 3px 2px;
      margin-top: 0px;
      display: inline-block;
      background: white;
    }
    }
  }
  }


  
}



