<div class="mobile-login">

    <div class="content">
        <div class="logo logo1">
            <img *ngIf="appInfo.ProjectSiteLogo" class="login-logo" [src]="appInfo.ProjectSiteLogo" />
        </div>


        <form class="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
            <div class="login">
                <!-- <label class="label">Login</label> -->
                <label class="label">{{appInfo.ProjectName | translate}}</label>

                <div class="inputs">
                    <div class="input username">
                        <label for="username"> ☻ </label>
                        <input type="text" value="" name="username" color="primary" placeholder="Username"
                            [(ngModel)]="loginCredentials.Username" required>

                    </div>
                    <div class="input password">
                        <label for="password"> ✄ </label>
                        <input type="password" name="password" placeholder="password"
                            [(ngModel)]="loginCredentials.Password" required>


                    </div>
                </div>

                <button class="login-btn" type="submit" [disabled]="!loginForm.form.valid">
                    >
                </button>
            </div>
        </form>
        <div class="logo logo2">
            <!-- <img src="assets/imgs/logo.png" /> -->
            <img src="assets/imgs/logo.png" />
        </div>
    </div>
</div>
<ion-footer text-center>
    <div><b>{{'Copyright' | translate}} © {{currentYear}} EfkonIndia.</b></div>
    <div><b>{{'All rights reserved' | translate}}</b></div>
</ion-footer>