
<ion-content>

    <img class="login-logo" src="https://img.clipartxtras.com/197beaa39099b386dd67f0320c4ec25c_traffic-light-clip-art-hostted-clipartbarn-traffic-light-clipart-free_1500-1500.png" />
    <ion-list class="login-form">

        <h1 text-center>Login</h1>
        <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" value="" name="username" placeholder="Username" [(ngModel)]="loginCredentials.Username" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" name="password" placeholder="password" [(ngModel)]="loginCredentials.Password" required></ion-input>
      </ion-item>
  
      <button ion-button full type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <button ion-button full clear (click)="forget()">Forget Password</button>
    </ion-list>
  </ion-content>
  