page-seize {

    .btn{
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
        transition:0.2s;
        display:grid;
        margin:auto;
        width:200px;
        height:200px;
        place-content: center;
        text-align: center;
        background:white;
        img{
            width:150px;
            margin: auto;
        }
        &:active{
            box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
        }
    }   
}
